*{margin:0;padding:0;}
body{font-size:14px;font-family:"Microsoft YaHei";}
ul,li{list-style:none;}
#ul-list1 li{
    cursor: pointer;
}
#tab{position:absolute;width: 1017px;height: 700px}
#tab .tabList ul li{
    float:left;
    background:#fefefe;
    border:1px solid #ccc;
    padding:5px 0;
    width:253.2px;
    text-align:center;
    margin-left:-1px;
    position:relative;
    cursor:pointer;
}
#tab .tabCon{
    position:absolute;
    left:-1px;
    top:32px;
    border:1px solid #ccc;
    border-top:none;
    width:1016px;
    height:620px;
}
#tab .tabCon>div{
    display: none;
    padding:10px;
    position:absolute;
}
#tab .tabList li.cur{
    border-bottom:none;
    background:#fff;
}
#tab .tabCon div.cur{
    display: block;
}
.item_container{
    width: 1000px;
    height: 500px;
}
.item{display:table;width: 301px;height: 100px;border:1px solid #333;margin: 10px; float:left;}
.item p{ display: table-cell;  text-align: center;  height: 100%;  line-height: 100%;  vertical-align: middle;}
.item_container{width: 1000px}
.item4,.item5,.item6{
    width: 193px;
}
.item1,.item2,.item3,.item8,.item9{height: 222px}
.input-mask,.ul-input-mask,.ul-input-mask2,.ul-input-mask3{
    position: fixed;
    text-align: center;
    width: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
    height: 100%;
}
.input-container,.ul-input-container,.ul-input-container2,.ul-input-container3{
    padding: 30px;
    display: inline-block;
    width: 500px;
    background: #fff;
    height: 300px;
    top: 50%;
    margin-top: -165px;
    position: absolute;
    left: 50%;
    margin-left: -265px;
}
.cur{
    background: yellow;
}