$width:600px;
$height:320px;
$dots-bottom:20px;
$dot-item-width:12px;
$dot-border-color:#fff;
$dot-bg-color:#333;
$dot-active-bg-color:orangered;
$arr-height:30px;
$arr-fontsize:36px;
$arr-color:#333;
$arr-bg-color:rgba(0,0,0,0.3);
#slider{
  border: 1px solid red;
  width: $width;
  height: $height;
  margin: 40px auto;
  position: relative;
  overflow: hidden;
}
#slider ul{
  border: 1px solid black;
  width: $width;
  height: $height;
  position: absolute;
  z-index: 1;
}
#slider ul li{
  display: none;
  position: absolute;
  left: 0;
  top:0;
}
#slider ul li.active{
  display: block;
}
#dots{
  position: absolute;
  bottom: $dots-bottom;
  width: 100%;
  height: $dot-item-width;
  z-index: 2;
  text-align: center;
}
#dots span{
  width: $dot-item-width;
  height: $dot-item-width;
  border: 1px solid $dot-border-color;
  border-radius: 50px;
  display: inline-block;
  background: $dot-bg-color;
}
#dots span.active{
  background: $dot-active-bg-color;
}
.arr{
  text-align: center;
  position: absolute;
  width: $arr-height;
  height: $arr-height;
  line-height: $arr-height;
  font-size: $arr-fontsize;
  text-decoration: none;
  color: $arr-color;
  background: $arr-bg-color;
  top: 50%;
  margin-top: -($arr-height/2);

}
#prev{left: 20px}
#next{right: 20px}
